@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #d699be;
}



.navbar {
        background-color: rgba(0, 0, 0, 0.4) !important;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: .1rem;
    }
    
.navbar-brand img{
        height: 2.5rem;
    }
     
.navbar-nav li {
        padding-right: 0.7rem;
    }
    
.navbar-dark .navbar-nav .nav-link {
        color: #d699be;
        padding-top: 0.8rem;
    }
    
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
        color: #1ebba3;
    }

/*

.gallery-h1 {
    font-weight: 700;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-row .column {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}

.row .column img {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.gallery-container {
    margin-top: 6%;
}


.jumbo-text {
    background-color: transparent;
    width: 100%;
    height: auto;
    color: #505962;
    margin-top: 60px;
}

.jumbo-underline {
    width: 50%;
    border-top: .3rem solid #666b71;
    margin-top: 3rem;
}

.jumbo-text h1 {
    text-transform: uppercase;
}

.jumbo-text p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.free {
    text-decoration: underline;
}
*/



.item:hover {
    filter: brightness(70%);
}

.item {
    transition: .5s ease-in-out;
}

.main {
    background-color: #d699be;
    margin: 10%;
    clear: both;
}

#wrapper {
    background-color: #d699be;
    padding: 0px;
    margin: 0px;
}


footer {
    background-color: #505962;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;

}

footer img {
    height: 2rem;
    margin-top: 1.5rem 0;
    
}

footer a {
    color:white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #1ebba3 !important;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

