@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: #d699be;
}


/*********************************** Nav ************************************/

.navbar {
    background-color: rgba(0, 0, 0, 0.1) !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .1rem;
}

.navbar-brand img{
    height: 3.5rem;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ae538a;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #d682b5;
}

.item:hover {
    filter: brightness(70%);
}

.item {
    transition: .5s ease-in-out;
}

.main {
    background-color: #d699be;
    margin: 10%;
    clear: both;
}

#wrapper {
    background-color: #d699be;
    padding: 0px;
    margin: 0px;
}


/********************************** footer **********************************/

footer {
    background-color: #d699be;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;

}

footer a {
    color:white;
}

footer a:hover {
    color: #824f6e;
}

footer i {
    color: #fff;
}
footer i:hover {
    color: #824f6e;
}